@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    
   
}

#size{

    max-width: 1000px;
    margin:auto;
}

body{

    font-family: 'Poppins', 'Times New Roman', sans-serif;
    background-color:black;
}

header{
    
    font-size:11px;
    text-transform: uppercase;
    text-align: center;
    color:white;
    background-color: rgb(86, 191, 209);
    margin-bottom: 0;
    padding: 5px;

}


.background{

    background-image: url(../assets/images/people.jpg);
    background-size:cover;
    overflow: hidden;
    margin-top: 0;
    
    

}
.form{

    max-width: 230px;
    background-color: #ffffffbb;
    margin-top: 0;
    float:right;
    margin: 20px;
    padding:15px;
}

.form h2{

    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.form p{

    font-size:12px;
    text-align: justify;
    margin:10px;
}

input, select{

    padding:10px;
    margin-bottom: 10px;
    border:none;
    box-sizing: border-box;
    width: 100%;  
}

input[type="submit"]{

    background-color:rgb(86, 191, 209);
    color:white;
    text-transform: uppercase;
    text-shadow: 25px 25px black;
    font-weight: bold;
}
.submit:hover{

    background-color:rgb(33, 131, 148) ;
    }

select img{

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

footer{

    background-color:rgb(32, 30, 30);
    color:white;
    box-sizing: border-box;
    padding:20px;
    text-align: center;
}

footer img{

    width:150px;
}

.imgfooter{

    display:inline-block;
}

.info{

    text-align: justify;
    font-size: 12px;;
    display: inline-block;
    max-width: 40%;
}

.info h3, .info p{

    margin:10px;
}

.info h3{

    font-size: 16px;
}

@media only screen and (max-width: 850px) {

    .imgfooter{
       
        display: inline-block;
    }

    .info{
        max-width: 40%;
        
    
}
}

@media only screen and (max-width: 728px) {

    .imgfooter{

        margin-bottom: 5%;
        margin-top: 5%;
        display: inline-block;
    }

    .info{
        max-width: 50%;
    
}
}

@media only screen and (max-width: 600px) {

    .info{

        max-width: 60%;
    }
}

@media only screen and (max-width: 500px) {

    footer img{

        margin-bottom: 2%;
        margin-top: 2%;
    }

    .info{

        max-width: 90%;
    }

    .form{
        
        background-color: #ffffff5d;
        max-width: 330px;
        clear:right;
        margin-right: 20%; 
        margin-left: 20%;
        padding:10px;
        
    }

}

